#root {
  display: flex;
  justify-content: center;
  color: #00cb78;
  font-family: sans-serif;
}
.app {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  background-color: #454544;
  border-radius: 10px;
  width: 400px;
  box-shadow: 5px 5px 5px #999;
}
.add-todo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  padding-bottom: 60px;
}
.add-todo input, button {
  border-radius: 10px;
  outline: none;
  border: none;
  margin-left: 10px;
  padding: 3px 14px;
}

button:hover {
  color: #fff;
}

button:focus {
  /* color: #00cb78; */
  color: green;
}

button:active {
  background-color: #999;
}

.delete-btn {
  position: relative;
  padding: 0px 10px;
  top: -2px;
}

.todo-item {
  display: flex;
  align-items: center;
  width: 80%;
}
.done {
  color: black;
  text-decoration: line-through;
}

.checkbox {
  margin-right: 5px;
}